<model>
    <mount>//OPNsense/Scrutiny</mount>
    <version>0.1.0</version>
    <items>
        <api_endpoint type="TextField">
            <mask>@^https?://([a-z0-9-.])+:([0-9]){1,5}$@</mask>
            <validationMessage>
                Endpoint must include http(s):// and port
            </validationMessage>
        </api_endpoint>
        <host_id type="TextField" />
        <log>
            <file type="TextField" />
            <level type="OptionField">
                <OptionValues>
                    <error value="error">Errors only</error>
                    <warning value="warning">Errors and warnings</warning>
                    <info value="info">Errors, warnings and info messages</info>
                    <debug value="debug">Errors, warnings, info and debug messages</debug>
                </OptionValues>
            </level>
        </log>
        <enabled type="BooleanField">
            <default>0</default>
        </enabled>
        <syslog type="BooleanField">
            <default>0</default>
        </syslog>
        <debug type="BooleanField">
            <default>0</default>
        </debug>
    </items>
</model>
