<?xml version="1.0"?>
<model>
    <mount>//OPNsense/Scrutiny</mount>
    <version>0.1.0</version>
    <items>
        <api_endpoint type="TextField">
            <mask>@^https?://([a-z0-9-.])+:([0-9]){1,5}$@</mask>
            <validationMessage>
                Endpoint must include http(s):// and port
            </validationMessage>
        </api_endpoint>
        <host_id type="TextField" />
        <log>
            <file type="TextField" />
        </log>
        <enabled type="BooleanField">
            <default>0</default>
        </enabled>
        <syslog type="BooleanField">
            <default>0</default>
        </syslog>
        <debug type="BooleanField">
            <default>0</default>
        </debug>
    </items>
</model>
