<?xml version="1.0"?>
<form>
    <field>
        <id>scrutiny.settings.SmartVersion</id>
        <label>S.M.A.R.T. Version</label>
        <type>info</type>
    </field>
    <field>
        <id>scrutiny.settings.ApiEndpoint</id>
        <label>API Endpoint</label>
        <hint>http://scrutiny:8080</hint>
        <type>text</type>
    </field>
    <field>
        <id>scrutiny.settings.HostID</id>
        <label>Host ID</label>
        <help>Enter a name to identify this machine; used to group disks in Scrutiny.</help>
        <type>text</type>
    </field>
    <field>
        <id>scrutiny.settings.Debug</id>
        <label>Debug</label>
        <type>checkbox</type>
        <help><![CDATA[Whether to enable debug output (the equivalent of passing <code>--debug</code> to the collector).]]></help>
    </field>
</form>
